body {
    background: yellow;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
}

#container div {
    /* border: 1px solid black; */
}

header {
    height: 50px;
    border: 1px solid black;
}

.mainContent {
    display: flex;
}
.leftColumn {
    min-width: 200px;
    border: 10px solid blue !important;
}

.rightColumn {
    background: lightgreen;
    border: none;
}

.rightContent1 {
    display: inline-block;
    border: none;
    width: 30%;
}

.rightContent2 {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 39%;
}

.rightContent3 {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 29%;
}
